#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define NUMBER  1
#define SYMBOL  2
#define HOTKEY  3

#define AS(keycode) &as LS(keycode) keycode

/ {


    macros {
    };

    combos {
        compatible = "zmk,combos";
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DEFAULT";
            bindings = <
&studio_unlock     &kp N1  &kp N2         &kp N3        &kp N4     &kp N5           &kp N6         &kp N7     &kp N8     &kp N9     &kp N0    &lt 1 MINUS
&lt 2 TAB     &kp Q   &kp W          &kp E         &kp R      &kp T            &kp Y          &kp U      &kp I      &kp O      &kp P     &kp BACKSPACE
&kp CAPSLOCK  &kp A   &kp S          &kp D         &kp F      &kp G            &kp H          &kp J      &kp K      &kp L      &kp SEMI  &kp SQT
&kp LSHFT     &kp Z   &kp X          &kp C         &kp V      &kp B            &kp N          &kp M      &kp COMMA  &kp DOT    &kp FSLH  &none
         &kp LEFT_ALT &mt LCTRL DEL  &mkp RCLK      &mo 1     &mt LGUI RETURN  &mkp RCLK    &mkp RCLK      &kp SPACE
            >;
        };

        nav_layer {
            status="reserved";
        };

        fun_layer {
            status="reserved";
        };

        game_layer {
            status="reserved";
        };

        game2_layer {
            status="reserved";
        };

        number_layer {
            status="reserved";
        };

        symbol_layer {
            status="reserved";
        };
    };
};
